
div{
   display: flex;
    padding: 25px;
    align-items: center;
    justify-content: space-around;
}

 .img{
    width: 300PX;
    height: 400PX;
    padding: 10px;
    object-fit: cover;
    border-radius: 20px;

 }

 h1{
    text-align: center;
    background-color: aliceblue;
 }

 p{
    text-align: center;
    padding: ;
 }